{% extends 'base/base.html' %}
{% load  staticfiles %}

{% block leftmenu %}
<style type="text/css">
/*left*/
.leftsidebar_box{margin-top:-30px; width:10%;height:auto !important;overflow:visible !important;position:fixed;height:100% !important;background-color:#9d9d9d;}
.line{height:2px;width:100%;background-image:url(images/left/line_bg.png);background-repeat:repeat-x;}
.leftsidebar_box dt{padding-left:12%;padding-right:5%;background-repeat:no-repeat;background-position:10px center;color:#f5f5f5;font-size:14px;position:relative;line-height:40px;cursor:pointer;}
.leftsidebar_box dd{background-color:#777777;padding-left:20%;display:none;width:80%; height:23px; overflow:hidden;}
.leftsidebar_box dd a{color:#f5f5f5;line-height:20px;}
</style>
<div id="form_header">
  <ul class="attend_view_manager_switch">
        <li class="attend_e">
           <a  href="javascript:show_table_list();"><i class="fa fa-align-justify"></i></a>
         </li>
        <li class="attend_e">
           <a  href="javascript:show_calendar();"><i class="fa fa-calendar"></i></a>
         </li>
         <li class="attend_e">
           <a  href="javascript:show_charts();"><i class="fa fa-bar-chart"></i></a>
         </li>
         
         </ul>
</div>
<div class="menu_left">
  <div class="leftsidebar_box">
     {% for item in menu %}
		<dl>
			<dt>{{ item.topName }}<img src="{% static 'images/select_xl01.png'%}" style="margin-left:5px;"></dt>
			 {% for sub in item.subMenus %}
			 <dd ><a href="javascript:{{ sub.1 }};"> {{ sub.0 }} </a></dd>
			 {% endfor %}
		</dl>
	 {% endfor %}
	</div>
</div>

<script type="text/javascript">
$(".leftsidebar_box dt").css({"background-color":"#9d9d9d"});
$(function(){
	$(".leftsidebar_box dt").click(function(){
		$(".leftsidebar_box dt").css({"background-color":"#9d9d9d"})
		$(this).css({"background-color": "#777777"});
		$(this).parent().find('dd').removeClass("menu_chioce");
		var img = $(".leftsidebar_box dt img");
		if( img.attr('src') == "{% static 'images/select_xl01.png'%}"){
			img.attr("src","{% static 'images/select_xl.png'%}");
		}else{
			img.attr("src","{% static 'images/select_xl01.png'%}");
		}
		$(".menu_chioce").slideUp(); 
		$(this).parent().find('dd').slideToggle();
		$(this).parent().find('dd').addClass("menu_chioce");
	});
})
</script>

{% endblock %}