<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Attendance System</title>
    {% load  staticfiles %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.min_2.1.4.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/actions/base.js'%}"></script>
    </head>
    <body>
     <!--This is the START of the header-->
<div id="header-wrapper">
	<div id="header">
		<div id="logo"> <a href=""><img src="{% static 'images/logo.jpg'%}" width="100" height="80" alt="logo" /></a> </div>
		<div id="header-text">
			<h4>Welcome to the best system...</h4>
			<h5>
			    <a href="/">Home</a>
			    <a href="/attend"> Attend</a>
			    <a href="/weichat">Notice</a>
			</h5>
		</div>
	</div>
	<div id="user_heder_info">
	  {% if user.is_authenticated %}
	      <a href="/user/changepw">{{ user }}</a>
		  <a href="/user/logout">Logout</a>
	  {% else %}
		   <a href="/user/login">Login</a>
      {% endif %}
		</div>
</div>
<div id="form_header">
  <ul class="attend_view_manager_switch">
        <li class="attend_e">
           <a  href="javascript:show_table_list();"><i class="fa fa-align-justify"></i></a>
         </li>
        <li class="attend_e">
           <a  href="javascript:show_calendar();"><i class="fa fa-calendar"></i></a>
         </li>
         </ul>
</div>

<!--END of header-->
<!--This is the START of the menu-->
 <!-- left menu -->
{% block leftmenu %}
  {% endblock %}
 <!-- end left menu -->
 
<!-- content  -->
     <div id=content style="margin-top:130px;">
     {% block content %}
     {% endblock %}
     </div>
 <!-- end content --> 
 
 
 <!-- footer -->
     <div id="footer">
		<h6>Copyright © 2016 - fky</h6>
	</div>
     
 <!-- end footer -->
    </body>
</html>