{% extends 'base/base.html' %}
{% load staticfiles %} 
{% block content %}


<link rel="stylesheet" href="{% static 'css/default.css'%}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/nivo-slider.css'%}" type="text/css" media="screen" />

<style type="text/css">
.slider-wrapper { 
	width: 80%; 
	margin: 100px auto;
}
</style>

<div>
   {{ userInfo.UserID }}
   {{ userInfo.UserName}}
</div>


<!--This is the START of the NIVO slider-->
 <div id="portfolio" style="padding-top:5px;">
	<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="{% static 'images/walle.jpg'%}" data-thumb="{% static 'images/walle.jpg'%}" alt="" title="#htmlcaption"/>
                <img src="{% static 'images/2016-03-09_1.jpg'%}" data-thumb="{% static 'images/2016-03-09_1.jpg'%}" alt="" title="showing caption" /></a>
                <img src="{% static 'images/2016-03-09_2.jpg'%}" data-thumb="{% static 'images/2016-03-09_2.jpg'%}" alt="" data-transition="slideInLeft" />
                <img src="{% static 'images/nemo.jpg'%}" data-thumb="{% static 'images/nemo.jpg'%}" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>Donate</strong> only one <em>HTML</em> caption with <a href="/donate">Link</a>. 
            </div>
        </div>
</div>
    <script type="text/javascript" src="{% static 'js/jquery.nivo.slider.js'%}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
{% endblock %}
