{% extends 'base/base.html' %}
{% load staticfiles %} 
{% block content %}


<link rel="stylesheet" href="{% static 'css/default.css'%}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/nivo-slider.css'%}" type="text/css" media="screen" />

<style type="text/css">
.slider-wrapper { 
	width: 80%; 
	margin: 100px auto;
}

</style>

<!--This is the START of the NIVO slider-->
 <div id="portfolio" style="padding-top:5px;">
	<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="{% static 'images/toystory.jpg'%}" data-thumb="{% static 'images/toystory.jpg'%}" alt="" />
                <img src="{% static 'images/up.jpg'%}" data-thumb="{% static 'images/up.jpg'%}" alt="" title="showing caption" /></a>
                <img src="{% static 'images/walle.jpg'%}" data-thumb="{% static 'images/walle.jpg'%}" alt="" data-transition="slideInLeft" />
                <img src="{% static 'images/nemo.jpg'%}" data-thumb="{% static 'images/nemo.jpg'%}" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery.nivo.slider.js'%}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
{% endblock %}
