{% load  staticfiles %}

<link href="{% static 'css/fullcalendar.css'%}" rel='stylesheet' />
<link href="{% static 'css/fullcalendar.print.css'%}" rel='stylesheet' media='print' />
<script type="text/javascript" src="{% static 'js/jquery.min_2.1.4.js'%}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<div id="calendarpage">
   <div id="calendar">
   </div>
</div>


<style type="text/css">
#calendar {
        background-color:white;
		max-width: 900px;
		margin: 0 160px;
		padding:5px 10px;
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,basicWeek,agendaDay'
		},
		defaultDate: '2016-01-01',
		editable: true,
		eventLimit: true, // allow "more" link when too many events
		events: [
		    {% for item in lines %}
			{
				title: "{{ item.comment}}",
				start: "{{ item.lock_time|date:'Y-m-d H:i:s' }}",
			}{% if not forloop.last %} , {% endif %}
			{% endfor %}
		],
		timeFormat: 'H:mm',
	});
	
});

</script>
