{% load  staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.min_2.1.4.js'%}"></script>
<script type="text/javascript" src="{% static 'js/highcharts.js'%}"></script>
<script type="text/javascript" src="{% static 'js/modules/exporting.js'%}"></script>
<div>
<div id="container" style="min-width:700px;height:400px"></div>
</div>
 <script>
 $(function () {
    function getData(){
       arr = [];
    	 {% for item in items %}
    	   console.log({{item}});
    	   arr.push( {{item}} );
		 {% endfor %}
	  console.log(arr);
	  return arr;
    };
    $('#container').highcharts({
        title:{
			text:'Work VS Time'        
        },
        subtitle: {
            text: '时间分布'
        },
        xAxis: {
            gridLineWidth: 1,
            title: {
                enabled: true,
                text: 'Time (o)'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Hours (h)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
            name: "p",
            type: 'scatter',
            color:Highcharts.getOptions().colors[1],
            data: getData(),
            }],
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x} o, {point.y} h'
        },
        credits: {
     		enabled: false
		}
        
    });
});
				
 
 
</script>



