{% extends 'base/base.html' %}
{% load staticfiles %} 
{% block content %}

<div style="text-align:center;margin-left: auto;margin-right: auto;font-size:20px;">
   <table style="margin:auto;">
    <form action=""  method="post">
   {% csrf_token %}
   	 <tr>
   	   <td>User:</td>
   	   <td> {{ form.username}}</td>
   	 </tr>
     <tr>
        <td>ShortName:</td>
        <td> {{ form.shortname }}</td>
     </tr>
     <tr>
      <td colspan="2">
      <br/>
       <font color='red'> {{errors}} </font>
      </td>
     </tr>
    
     {% if form.shortname.value  %}
     <tr>
       <td colspan="2">
       <br/>
       If you'd like to update your information, please contact the administrator.
       </td>
     </tr>
     {% else %}
     <tr>
       <td></td>
       <td><input type="submit" value="Save" id="save" name="Save"></td>
     </tr>
     {% endif %}
     </form>
   </table>
<br/>
<br/>
<br/>
<br/>
 
 <img alt="" src="{% static 'images/DSA_258.jpg'%}">
</div>

{% endblock %}