{% extends 'base/base.html' %}
{% load  staticfiles %}
 {% block content %}
  <link href="{% static 'css/login.css'%}" rel="stylesheet" type="text/css" />
 <div class="div_login_form">
 <form action=""  method="post">
   {% csrf_token %}
   
  <i class="fa fa-user Cone">  | </i>
   {{ form.username}}
  <br>
 <i class="fa fa-key Cone">  | </i>
  {{ form.password }}
 <br>
 <div style="text-align: center; color: red;
 ">
  {{errors}}
 </div>
 <input type="submit" value="Sign in" id="submit" name="submit">
 <br>
</form>
 
 </div>
  
{% endblock %}
