{% extends 'base/base.html' %}
{% load  staticfiles %}
 {% block content %}
  <link href="{% static 'css/login.css'%}" rel="stylesheet" type="text/css" />
 <div class="div_login_form">
 <form action=""  method="post">
   {% csrf_token %}
  <i class="fa fa-user Cone">  | </i>
 <input type="text" name="username" id="username" placeholder="User Name">
  <br>
 <i class="fa fa-key Cone">  | </i>
 <input type="password" name="password" id="password" placeholder="Password">
 <br>
 <input type="submit" value="Sign in" id="submit" name="submit">
 <br>
</form>
 
 </div>
  
{% endblock %}
